<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
       Test1
      </mat-expansion-panel-header>
      <div class="sidebar">
        <div class="sidebar-item">
          <mat-icon color="primary">dashboard</mat-icon>
          <span>Boards</span>
        </div>
      
        <div class="sidebar-item">
          <mat-icon color="primary">group</mat-icon>
          <span>Members</span>
        </div>
      </div>                
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Test 2
      </mat-expansion-panel-header>

      <div class="sidebar">
        <div class="sidebar-item">
          <mat-icon color="primary">dashboard</mat-icon>
          <span>Boards</span>
        </div>
      
        <div class="sidebar-item">
          <mat-icon color="primary">group</mat-icon>
          <span>Members</span>
        </div>
      </div>
      
    </mat-expansion-panel>
  </mat-accordion>
