<app-navbar/>
<div class="h-full bg-slate-100">
    <main class="pt-40 pb-20 bg-slate-100">
       <div class="flex items-center justify-center flex-col">
            <div class="flex items-center justify-center flex-col">
                <div class="mb-4 flex items-center border shadow-sm p-4 bg-amber-100 text-amber-700 rounded-full uppercase">
                    No One Task Management 
                </div>
                <h1 class="text-3xl md:text-6xl text-center text-neutral-800 mb-6">Taskify Helps Team Move</h1>
                <div class="text-3xl md:text-6xl bg-gradient-to-r from-fuchsia-500 to-pink-600 text-white px-4 p-2 rounded-md pb-4 w-fit">
                    Work Forward
                </div>
            </div>
            <div class="text-sm md:text-xl text-neutral-400 mt-4 max-w-xs md:max-w-2xl text-center mx-auto">
                Collaborate, manage projects, and new reach productivity 
                peaks.  
            </div>
            <button class="mt-6 bg-black text-white font-bold py-2 px-4 ">Get Started</button>
       </div> 
    </main>

</div>
<app-footer/>